.App {
  text-align: center;
  max-width:800px;
  margin:auto;
}
.Select-Time-Buttons {
  border-radius: 15px;
  box-shadow: rgba(119,119,119, .6) 7px 7px 25px 1px;
  padding: 30px;
  background-color: rgba(238,238,238,.6);
}
.Timer-time{
  background-color: #fff;
  font-size: 25px;
  border-radius: 15px;
  max-width: 180px;
  margin:30px auto 0;
}
.Timer-buttons {
  margin-top: 40px;
}
.Timer-buttons button {
  background-color: #fff;
  padding:15px;
  font-size: 15px;
  border: transparent;
  border-radius: 15px;
  margin: 5px;
}
.Select-Time-Buttons button {
  background-color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  padding: 20px;
  margin: 5px;
}
.Select-Time-Buttons button span {
  display: block;
  font-size: 13px;
}